<mat-sidenav-container role="main" class="main-menu ">
    <mat-sidenav role="navigation" position="start" mode="side" opened class="main-menu">
        <div>
            <a aria-label="Home button" href="#">
                <i matTooltip="Home" class="fa fa-home fa-2x"></i>
            </a>
        </div>
        <div class="has-subnav">
            <a aria-label="Laptop application shortcut" href="#">
                <i matTooltip="Laptop" class="fa fa-laptop fa-2x"></i>
            </a>

        </div>
    </mat-sidenav>
</mat-sidenav-container>
