
.outsideDiv {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  margin-top: -167px;
  margin-left: -260px;
  display: table;
  background: transparent;
  border: 1px solid;
  box-shadow: 0 2px 5px 3px black;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  padding: 30px;

}
.insideDiv {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.btn {

  font-weight: bold;
  font-size: 1em;

  text-decoration: none;
  background-color: transparent;
  text-align: left;
  color: black;
  display: inline-block;
  padding: 10px 30px 10px 30px;
  border: 2px solid black;
  border-radius: 5px;
}
