<mat-card>
  <mat-card-content>
    <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="flex-start" fxLayoutGap="15px">
      <div fxFlex="0 1 calc(100%)" fxFlex.lt-md="0 1 calc(100%)" fxFlex.lt-sm="100%">
        <img alt="profile Image" class="profileImage" src="assets/img/empty.png">
        <form [formGroup]="myForm">

          <mat-form-field class="full-width-input">
            <mat-label>{{'defaultLanguage' | translate}}</mat-label>
            <mat-select formControlName="defaultLanguage">
              <mat-option *ngFor="let language of languages" [value]="language.locale"
              >{{language.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <br>
        </form>
      </div>
    </div>

  </mat-card-content>
  <mat-card-actions>
    <div class="button-pad">
      <button  mat-button (click)="save()">{{'save' | translate}}</button>
    </div>
  </mat-card-actions>
</mat-card>
