.mat-menu-panel {
  background: rgb(255, 255, 255) !important;
  overflow: hidden !important;
  max-width: 400px !important;
}

.mat-menu-content {
  height: 100% !important;
}

a:hover { text-decoration:none; }
.actionIcon { cursor: pointer; }

#iconPlay {
  position: relative;
  width: 400px;

  .fa > img {
    display: block;
    opacity: 0.5;
    transform: scale(1) translateY(10%);
    -webkit-transition: 0.2s ease-in-out; /* Safari prior 6.1 */
    transition: 0.2s ease;
  }
  .actionIcon:hover > .fa > img{
    transform: scale(1.2) translateY(-25%);
    opacity: 1;
  }

  .actionIcon:hover > h3 {
    transform: scale(1) translateY(10%);
    transition: 0.15s ease;
    opacity: 1
  }

  .actionIcon:hover > small {
    transform: scale(1);
    transition: 0.15s ease;
    opacity: 1;
  }

  ul {
    display: flex;
    list-style-type: none;
    padding: 0;
  }
  li {
    text-align: center;
    width: 100px;
    height: auto;
  }

  h3, img {
    font-size: .8em;
    line-height: 1;
    color: #000000;
  }
  h3 {
    margin: 0;
    transform: scale(1.2) translateY(45%);
    -webkit-transition: 0.3s ease; /* Safari prior 6.1 */
    transition: 0.3s ease;
  }
}

h3, small {
  opacity: 0;
}
small {
  font-size: 60%;
  line-height: 1;
  color: #000000;
  -webkit-transition: 0.15s ease; /* Safari prior 6.1 */
  transition: 0.15s ease;
}

img {
  width: 32px;
  height: 32px;
  margin-left: auto;
  margin-right: auto;
  font-size: .8em;
}

.dropdown-header {
  display: block;
  padding: 5px;
  margin-bottom: 0;
  font-size: .9em;
  font-weight: 600;
  color: #6c757d;
  white-space: nowrap;
}