<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>apps</mat-icon>
</button>
<mat-menu #menu="matMenu">
    <button mat-menu-item *ngFor="let widget of widgets | async">
    <app-widget
                [isActive]="true"
                [isDraggable]="true"
                [isMinimizable]="true"
                [isMaximizable]="true"
                [isClosable]="true"
                [isResizable]="true"
                [width]="400"
                [height]="400"
                [minWidth]="400"
                [minHeight]="400"
                title={{widget.titleKey}}
                [zIndex]="2"
                iconImageSrc="assets/img/favicon.ico"
                appUrl={{widget.appIndex}}
                (onClose)="isActive = false"
    >
    </app-widget>
        <span>{{widget.titleKey}}</span>
    </button>
<!--    <button mat-menu-item>-->
<!--        <app-widget-->
<!--                [isDraggable]="true"-->
<!--                [isMinimizable]="true"-->
<!--                [isMaximizable]="true"-->
<!--                [isClosable]="true"-->
<!--                [isResizable]="true"-->
<!--                [width]="400"-->
<!--                [height]="400"-->
<!--                [minWidth]="400"-->
<!--                [minHeight]="400"-->
<!--                title="Angular"-->
<!--                [zIndex]="2"-->
<!--                iconImageSrc="assets/img/favicon.ico"-->
<!--                appUrl="https://angular.io">-->
<!--        </app-widget>-->
<!--        <span>Check voicemail</span>-->
<!--    </button>-->
</mat-menu>
