<button [matMenuTriggerFor]="menu" aria-label="Icon-button with a menu" mat-icon-button>
  <mat-icon>apps</mat-icon>
</button>

<mat-menu #menu="matMenu" class="scroll">
  <mat-grid-list *ngFor="let widgets of sortedWidgets  let lastItem = last;" cols="4" id="iconPlay">
    <span class="dropdown-header">{{widgets[0].groupTranslated}}</span>

    <mat-grid-tile *ngFor="let widget of widgets"
                   class="actionIcon" (click)="onAppClick.emit(widget)">
      <span class="fa"><img src={{widget.icon}}></span>
      <h3>{{widget.applicationTitle}}</h3>
    </mat-grid-tile>
    <mat-divider *ngIf="!lastItem"></mat-divider>
  </mat-grid-list>
</mat-menu>


