<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Icon-button with a menu">
  <mat-icon>apps</mat-icon>
</button>

<mat-menu #menu="matMenu">
  <mat-grid-list id="iconPlay" cols="4"
                 *ngFor="let widget of widgets | groupBy: 'groupName' | sortBy: 'key'; let lastItem = last">
    <span class="dropdown-header">{{widget.key}}</span>
    <mat-grid-tile class="actionIcon"
                   *ngFor="let subwidget of widget.value | sortBy: 'applicationTitle'"
                   (click)="onAppClick.emit(subwidget)">
      <span class="fa"><img src={{subwidget.icon}}></span>
      <h3>{{subwidget.applicationTitle}}</h3>
    </mat-grid-tile>
    <mat-divider *ngIf="!lastItem"></mat-divider>
  </mat-grid-list>
</mat-menu>
