/* You can add global styles to this file, and also import other style files */
$light: #43c6ac;
$dark: #191654;

html, body { height: 100%; }

body {
  background: linear-gradient(45deg, $light, $dark);
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.widget-boundary {
  width: 99.8%;
  height: 100%;
 // border: dotted #ccc 2px;
}

.iframe-container {

  min-width: 300px;
  min-height: 150px;
  height: 100%;
  width: 100%;
  position: relative;

}

.iframe-container iframe {
  border: 0;
  height: inherit;
  left: 0;
  position: absolute;
  top: 0;
  width: inherit;
}