.navigation-bar {
  background: rgba(64, 90, 133, 0.15);
  color: #ededed;
  position: relative;
  height: 41px;
}

.border-line {
  border-bottom: 1px solid rgba(231, 231, 231, 0.31);
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.right-side-area {
  position: absolute;
  right: 0.5%;
}
.profileImage-class {
  height: 36px;
  width: 45px;


}