<mat-toolbar class="navigation-bar border-line">
  <app-start-menu (onAppClick)="initWidget($event)"></app-start-menu>

  <ng-template #widgetcontainer></ng-template>

  <div class="right-side-area">

    <a mat-button (click)="openUserProfileApplication()">
      <img *ngIf="profileImage" src="data:image/png;base64,{{profileImage}}" alt="application icon"
           class="profileImage-class">
    </a>
    <button mat-button *ngIf="!profileImage" (click)="openUserProfileApplication()">
      <mat-icon>account_circle</mat-icon>
    </button>
    <a href="/logout" mat-button>Logout</a>
  </div>
</mat-toolbar>

