<mat-toolbar class="navigation-bar border-line">

  <app-start-menu (onAppClick)="initApplication($event)" *ngIf="isSsoProfile != null"
                  [isSsoProfile]="isSsoProfile"></app-start-menu>

  <ng-template #applicationContainer></ng-template>

  <div class="right-side-area">
    <div class="wrapper">
      <a mat-button>
        <img *ngIf="profileImage" alt="application icon" class="profileImage-class"
             src="data:image/png;base64,{{profileImage}}">
      </a>
      <button *ngIf="!profileImage" mat-button>
        <mat-icon>account_circle</mat-icon>
      </button>
      <ul *ngIf="userProfileApplication || isSsoProfile">
        <li *ngIf="userProfileApplication">
          <button (click)="openUserProfileApplication()" mat-button>
            {{'webdesktop-ui.profile' | translate}}
          </button>
        </li>
        <li *ngIf="isSsoProfile">
          <a href="/logout" mat-button>{{'webdesktop-ui.logout' | translate}}</a>
        </li>
      </ul>
    </div>

  </div>
</mat-toolbar>

