/* You can add global styles to this file, and also import other style files */
$light: #43c6ac;
$dark: #2f2a9a;

html, body {
  height: 100%;
}

body {
  background: linear-gradient(45deg, $light, $dark);
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.application-boundary {
  width: 100%;
  height: 100%;
  // border: dotted #ccc 2px;
}

.scroll{
  overflow: auto !important;
}
.scroll::-webkit-scrollbar {
  width: 10px;
}
.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #BDBDBD;
}

.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #eeeeee;
}


.scroll::-webkit-scrollbar-thumb:hover {
  background-color: #A4A4A4;
}

.scroll::-webkit-scrollbar-thumb:active {
  background-color: #848484;
}


