<mat-tab-group>
  <mat-tab label="{{'management-app-ui.users' | translate}}" selectIndex>
    <form [formGroup]="usersForm">
      <mat-form-field>
        <input [matAutocomplete]="auto" formControlName="user" matInput type="text">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let user of options" [value]="user.username">
            {{user.username}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button (click)="addUser()" [disabled]="!usersForm.controls['user'].dirty" color="primary"
              mat-button>{{'management-app-ui.add' | translate}}</button>
    </form>
    <div fxLayout="column">

      <p aria-hidden="true" hidden id="tableDscUser">{{'management-app-ui.users' | translate}}</p>
      <table #table [dataSource]="dataSource" aria-describedby="tableDscUser" class="mat-elevation-z0" fxFlex="grow"
             mat-table
             matSort
             matSortActive="username"
             matSortDirection="asc"
             matSortDisableClear matSortStart="asc">

        <ng-container matColumnDef="profilepic">
          <th *matHeaderCellDef
              mat-header-cell scope="col">{{'management-app-ui.profilePicture' | translate}}</th>
          <td *matCellDef="let element" mat-cell>
            <span *ngFor="let item of element.userAttributes">
            <img *ngIf="item.name === 'image'" [attr.src]="item.data" alt="{{element.name}} {{'management-app-ui.icon' | translate}}"
                 class="profilePicImg"/>
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="username">
          <th *matHeaderCellDef mat-header-cell
              mat-sort-header scope="col">{{'management-app-ui.userName' | translate}}</th>
          <td *matCellDef="let element" mat-cell>{{element.username}}</td>
        </ng-container>
        <ng-container matColumnDef="lastname">
          <th *matHeaderCellDef mat-header-cell
              mat-sort-header scope="col">{{'management-app-ui.lastName' | translate}}</th>
          <td *matCellDef="let element" mat-cell>{{element.lastname}}</td>
        </ng-container>
        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th *matHeaderCellDef mat-header-cell scope="col"></th>
          <td *matCellDef="let element" class="action-link" mat-cell>
            <button (click)="removeUser(element)" class="move-right" color="warn" mat-button>
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr *matHeaderRowDef="displayedColumnsUsergroup" mat-header-row></tr>
        <tr *matRowDef="let row; let element; columns: displayedColumnsUsergroup;" mat-row></tr>
      </table>
      <mat-paginator #paginator (page)="changePage()"
                     [pageSizeOptions]="[10, 30, 50]"
                     [pageSize]="10"
                     [showFirstLastButtons]="true">
      </mat-paginator>
    </div>
  </mat-tab>

  <mat-tab label="{{'management-app-ui.groups' | translate}}">
    <form [formGroup]="groupForm">
      <mat-form-field>
        <input [matAutocomplete]="matAuto" formControlName="name" matInput type="text">
        <mat-autocomplete #matAuto="matAutocomplete">
          <mat-option *ngFor="let group of optionsUserGroup" [value]="group.name">
            {{group.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button (click)="addGroup()" [disabled]="!groupForm.controls['name'].dirty" color="primary"
              mat-button>{{'management-app-ui.add' | translate}}</button>
    </form>
    <div fxLayout="column">

      <p aria-hidden="true" hidden id="tableDscUserGroup">{{'management-app-ui.groups' | translate}}</p>
      <table #table [dataSource]="dataSourceUserGroup" aria-describedby="tableDscUserGroup" class="mat-elevation-z0"
             fxFlex="grow"
             mat-table
             matSort
             matSortActive="name"
             matSortDirection="asc"
             matSortDisableClear matSortStart="asc">

        <ng-container matColumnDef="name">
          <th *matHeaderCellDef mat-header-cell
              mat-sort-header scope="col">{{'management-app-ui.title' | translate}}</th>
          <td *matCellDef="let element" mat-cell>{{element.name}}</td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th *matHeaderCellDef mat-header-cell
              mat-sort-header scope="col">{{'management-app-ui.description' | translate}}</th>
          <td *matCellDef="let element" mat-cell>{{element.description}}</td>
        </ng-container>
        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th *matHeaderCellDef mat-header-cell scope="col"></th>
          <td *matCellDef="let element" class="action-link" mat-cell>
            <button (click)="removeGroup(element)" class="move-right" color="warn" mat-button>
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; let element; columns: displayedColumns;" mat-row></tr>
      </table>
      <mat-paginator #paginator (page)="changePage()"
                     [pageSizeOptions]="[10, 30, 50]"
                     [pageSize]="10"
                     [showFirstLastButtons]="true">
      </mat-paginator>
    </div>
  </mat-tab>
</mat-tab-group>
