<mat-tab-group>
  <mat-tab selectIndex label="{{'management-app-ui.users' | translate}}">
    <form [formGroup]="usersForm">
      <mat-form-field>
        <input type="text" matInput formControlName="user" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let user of options" [value]="user.username">
            {{user.username}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button mat-button color="primary" (click)="addUser()"
              [disabled]="!usersForm.controls['user'].dirty">{{'management-app-ui.add' | translate}}</button>
    </form>
    <div fxLayout="column">

      <p id="tableDscUser" aria-hidden="true" hidden>{{'management-app-ui.users' | translate}}</p>
      <table mat-table #table [dataSource]="dataSource" class="mat-elevation-z0" fxFlex="grow"
             matSort
             matSortActive="username"
             matSortDirection="asc"
             matSortStart="asc"
             matSortDisableClear aria-describedby="tableDscUser">

        <ng-container matColumnDef="profilepic">
          <th *matHeaderCellDef
              mat-header-cell scope="col">{{'management-app-ui.profilePicture' | translate}}</th>
          <td *matCellDef="let element" mat-cell>
            <span *ngFor="let item of element.userAttributes">
            <img class="profilePicImg" *ngIf="item.name === 'image'" [attr.src]="item.data" alt="{{element.name}} {{'management-app-ui.icon' | translate}}"/>
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef
              mat-sort-header scope="col">{{'management-app-ui.userName' | translate}}</th>
          <td mat-cell *matCellDef="let element">{{element.username}}</td>
        </ng-container>
        <ng-container matColumnDef="lastname">
          <th mat-header-cell *matHeaderCellDef
              mat-sort-header scope="col">{{'management-app-ui.lastName' | translate}}</th>
          <td mat-cell *matCellDef="let element">{{element.lastname}}</td>
        </ng-container>
        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef scope="col"></th>
          <td mat-cell *matCellDef="let element" class="action-link">
            <button mat-button color="warn" (click)="removeUser(element)" class="move-right">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsUsergroup"></tr>
        <tr mat-row *matRowDef="let row; let element; columns: displayedColumnsUsergroup;"></tr>
      </table>
      <mat-paginator #paginator (page)="changePage()"
                     [pageSize]="10"
                     [pageSizeOptions]="[10, 30, 50]"
                     [showFirstLastButtons]="true">
      </mat-paginator>
    </div>
  </mat-tab>

  <mat-tab label="{{'management-app-ui.groups' | translate}}">
    <form [formGroup]="groupForm">
      <mat-form-field>
        <input type="text" matInput formControlName="name" [matAutocomplete]="matAuto">
        <mat-autocomplete #matAuto="matAutocomplete">
          <mat-option *ngFor="let group of optionsUserGroup" [value]="group.name">
            {{group.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button mat-button color="primary" (click)="addGroup()"
              [disabled]="!groupForm.controls['name'].dirty">{{'management-app-ui.add' | translate}}</button>
    </form>
    <div fxLayout="column">

      <p id="tableDscUserGroup" aria-hidden="true" hidden>{{'management-app-ui.groups' | translate}}</p>
      <table mat-table #table [dataSource]="dataSourceUserGroup" class="mat-elevation-z0"
             fxFlex="grow"
             matSort
             matSortActive="name"
             matSortDirection="asc"
             matSortStart="asc"
             matSortDisableClear aria-describedby="tableDscUserGroup">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef
              mat-sort-header scope="col">{{'management-app-ui.title' | translate}}</th>
          <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef
              mat-sort-header scope="col">{{'management-app-ui.description' | translate}}</th>
          <td mat-cell *matCellDef="let element">{{element.description}}</td>
        </ng-container>
        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef scope="col"></th>
          <td mat-cell *matCellDef="let element" class="action-link">
            <button mat-button color="warn" (click)="removeGroup(element)" class="move-right">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; let element; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator #paginator (page)="changePage()"
                     [pageSize]="10"
                     [pageSizeOptions]="[10, 30, 50]"
                     [showFirstLastButtons]="true">
      </mat-paginator>
    </div>
  </mat-tab>
</mat-tab-group>
