<!-- img icon stays at init widget position-->
<div (click)="zIndexPlusOne()" (dblclick)="widgetMinimized()" *ngIf="!!iconImageSrc &&  isActive"
     [class.widgetOnAppBar]="!isMinimized" [class.widgetOnAppBarMinimized]="isMinimized">
  <img [src]="safeIconImageSrc">
</div>

<div (cdkDragEnded)="dragEnd($event)" (cdkDragMoved)="dragMoved($event)" (cdkDragReleased)="dragReleased($event)"
     (cdkDragStarted)="dragStart($event)" *ngIf="isActive" [cdkDragDisabled]="isSmallScreen || !isDraggable"
     [cdkDragFreeDragPosition]="widgetPosition"
     [class.widgetMinimized]="isMinimized && !isSmallScreen" [style.left]="yPosition" [style.top]="xPosition"
     [style.z-index]="zIndex" cdkDrag
     cdkDragBoundary=".widget-boundary" class="widget">

  <div (click)="widgetClicked()" *ngIf="isMinimized && !isSmallScreen" class="widgetAsIcon">
    <div *ngIf="!(!!iconImageSrc)">{{ applicationName + '.title' | translate  }}</div>
  </div>

  <div *ngIf="!isMinimized || isSmallScreen">
    <div (click)="zIndexPlusOne()" cdkDragHandle class="header">
      <img *ngIf="!!iconSmallSrc" [src]="safeSmallIconImageSrc" class="image">

      <div *ngIf="showTitle" class="title"
           style.left="{{!(!!iconImageSrc) && '5px'}}">{{ applicationName
      + '.title' | translate  }}</div>

      <div class="iconsContainer">
        <i (click)="widgetMinimized()" *ngIf="isMinimizable" class="material-icons headerIcon"
           matTooltip="minimize">
          remove
        </i>
        <i (click)="widgetMaximized($event)" *ngIf="isMaximizable && !isMaximized"
           class="material-icons headerIcon" matTooltip="fullscreen">
          fullscreen
        </i>
        <i (click)="widgetMaximized($event)" *ngIf="isMaximizable && isMaximized"
           class="material-icons headerIcon" matTooltip="fullscreen exit">
          fullscreen_exit
        </i>

        <i (click)="close()" *ngIf="isClosable" class="material-icons headerIcon"
           matTooltip="close">
          cancel
        </i>
      </div>
    </div>
  </div>
  <div  [class.displayContent]="isMinimized"
       [class.fullScreenSize]="isMaximized && !isSmallScreen"
        [style.height.px]="height"
       [style.min-height.px]="minHeight" [style.min-width.px]="minWidth" [style.width.px]="width" class="content"
        mwlResizable
        [enableGhostResize]="false"
        (resizeEnd)="onResizeEnd($event)" (resizeStart)="onResizeStart($event)" (resizing)="onResize($event)">
    <div
        class="resize-handle-bottom"
        mwlResizeHandle
        [resizeEdges]="{ bottom: isResizable }"
    ></div>
    <div
        class="resize-handle-right"
        mwlResizeHandle
        [resizeEdges]="{ right: isResizable }"
    ></div>
    <div  [style.min-height.px]="minHeight" [style.min-width.px]="minWidth" class="iframe-container" >
      <iframe [src]="safeAppUrl" [style.display]="displayIframe ? 'block' : 'none'"></iframe>
    </div>
  </div>


</div>
