<mat-card>
  <mat-card-content>
    <form #form="ngForm">
      <mat-slide-toggle *ngIf="disabledSystemLanguage"  [disabled]="true" [checked]="true"
                         matTooltip="{{'translations-management-ui.systemLanguage' | translate}}"
                         class="slidePadding " color="primary" name="{{disabledSystemLanguage.name}}" >
        {{disabledSystemLanguage.name}}
      </mat-slide-toggle>
      <section *ngFor="let language of languages" class="">
        <mat-slide-toggle [(ngModel)]="language.active"
        class="slidePadding " color="primary" name="{{language.name}} ">
          {{language.name}}
        </mat-slide-toggle>
      </section>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="save()" [disabled]="!form.dirty"
            color="primary" mat-button>{{'translations-management-ui.save' | translate}}</button>
    <button mat-button
            routerLink="/languages/create" type="button">{{'translations-management-ui.create' | translate}}</button>
  </mat-card-actions>

</mat-card>


