.mat-menu-panel {
  background: rgb(255, 255, 255) !important;
  width: 450px;
  max-width: 500px !important;
  min-height: 130px !important;
  opacity: 0.95;
  border-radius: 0 !important;
}

.mat-menu-content {
  //padding-bottom: 2px !important;
  padding-left: 8px;
  padding-right: 8px;
  max-height: 500px;
}

.mat-grid-tile {
  position: sticky !important;
  margin-top: 0px !important;
  display: inline-block !important;
  padding-top: calc(((21% - 0.75px) * 1) + 0px) !important;
}

.mat-grid-list {
  padding-bottom: 0px !important;
}

.mat-figure {
  display: list-item !important;
  top: 10px !important;
  box-sizing: border-box;
  border: 2px solid rgba(255, 255, 255, 0);
  text-decoration: none;
}

.cdk-overlay-connected-position-bounding-box {
  left: 20px !important;
  top: 42px !important;
}

a:hover {
  text-decoration: none;
}

.actionIcon {
  cursor: pointer;
}

#iconPlay {

  .fa > img {
    display: block;
    transform: scale(1) translateY(5%);
    -webkit-transition: 0.2s ease-in-out; /* Safari prior 6.1 */
    transition: 0.2s ease;
  }

  .actionIcon:hover > .mat-figure > .fa > img {
    transform: scale(1.1) translateY(-10%);
  }

  .actionIcon:hover > .mat-figure > h3 {
    transform: scale(1) translateY(10%);
    transition: 0.15s ease;
  }

  h3, img {
    font-size: 0.72em;
    line-height: 1;
    color: #000000;
    font-weight: 500;
  }

  h3 {
    margin: 0 auto 0 auto;
    transform: scale(1.1) translateY(5%);
    -webkit-transition: 0.3s ease; /* Safari prior 6.1 */
    transition: 0.3s ease;
    max-width: unset !important;

    //if the title is too big, show only 3 lines of it
    display: block;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

img, h3 {
  position: relative;
}

h3 {
  text-align: center;
  //so as to hide big descriptions
  text-overflow: ellipsis;
  width: 90%;
}

img {
  width: 45px;
  height: 45px;
  margin-left: auto;
  margin-right: auto;
}

.dropdown-header {
  display: block;
  padding: 10px 10px 0px 10px;
  margin-bottom: 0;
  font-size: .9em;
  font-weight: 600;
  color: #6c757d;
  white-space: nowrap;
}