<mat-card>
  <mat-tab-group>

    <mat-tab label="{{'management-app-ui.' + componentTitle | translate}}">
      <mat-card-content>
        <form [formGroup]="form" novalidate>
          <mat-card-title>{{'management-app-ui.properties' | translate}}</mat-card-title>
          <div class="containerX">
            <div class="coloredContainerX box" fxFlex fxLayout="row" fxLayout.sm="column"
                 fxLayout.xs="column">
              <div fxFlex fxLayout="column" fxLayoutGap="10px">
                <mat-slide-toggle color="primary" formControlName="active">
                  {{'management-app-ui.active' |
                  translate}}
                </mat-slide-toggle>
                <mat-slide-toggle (change)="toggle($event)" color="primary"
                                  formControlName="restrictAccess">
                  {{'management-app-ui.restrictAccess' |
                  translate}}
                </mat-slide-toggle>
                <mat-slide-toggle color="primary" formControlName="multipleInstances">
                  {{'management-app-ui.multipleInstances' |
                  translate}}
                </mat-slide-toggle>
                <mat-slide-toggle color="primary" formControlName="resizable">
                  {{'management-app-ui.resizable' |
                  translate}}
                </mat-slide-toggle>
                <mat-slide-toggle color="primary" formControlName="minimizable">
                  {{'management-app-ui.minimizable' |
                  translate}}
                </mat-slide-toggle>
              </div>
              <div fxFlex fxLayout="column" fxLayoutGap="10px">
                <mat-slide-toggle color="primary" formControlName="closable">
                  {{'management-app-ui.closable' |
                  translate}}
                </mat-slide-toggle>
                <mat-slide-toggle color="primary" formControlName="draggable">
                  {{'management-app-ui.draggable' |
                  translate}}
                </mat-slide-toggle>
                <mat-slide-toggle color="primary" formControlName="system">
                  {{'management-app-ui.system' |
                  translate}}
                </mat-slide-toggle>
                <mat-slide-toggle color="primary" formControlName="showTitle">
                  {{'management-app-ui.showTitle' |
                  translate}}
                </mat-slide-toggle>
              </div>
            </div>
          </div>

          <br>

          <div class="containerX">
            <div class="coloredContainerX box" fxFlex fxLayout="row" fxLayout.sm="column"
                 fxLayout.xs="column">
              <div fxFlex fxLayout="column" fxLayoutGap="10px">
                <mat-form-field>
                  <input formControlName="applicationName" matInput matTooltip="{{'management-app-ui.uniqueMessage' | translate}}"
                         placeholder="{{'management-app-ui.applicationName' |
            translate}}">
                  <mat-icon *ngIf="form.controls['applicationName'].invalid" color="warn"
                            matSuffix
                            matTooltip="{{form.controls['applicationName'].getError('message')}}"
                            matTooltipClass="error-tooltip" matTooltipPosition="above"
                  >{{'warning'}}
                  </mat-icon>
                </mat-form-field>
                <mat-form-field>
                  <input formControlName="groupName" matInput placeholder="{{'management-app-ui.groupName' |
            translate}}">
                </mat-form-field>
                <mat-form-field>
                  <input formControlName="title" matInput
                         placeholder="{{'management-app-ui.title' |
            translate}}">
                  <mat-icon *ngIf="form.controls['title'].invalid" color="warn"
                            matSuffix
                            matTooltip="{{form.controls['title'].getError('message')}}"
                            matTooltipClass="error-tooltip" matTooltipPosition="above"
                  >{{'warning'}}
                  </mat-icon>
                </mat-form-field>
                <mat-form-field>
                  <input formControlName="description" matInput placeholder="{{'management-app-ui.description' |
            translate}}">
                  <mat-icon *ngIf="form.controls['description'].invalid" color="warn"
                            matSuffix
                            matTooltip="{{form.controls['description'].getError('message')}}"
                            matTooltipClass="error-tooltip" matTooltipPosition="above"
                  >{{'warning'}}
                  </mat-icon>
                </mat-form-field>
                <mat-form-field>
                  <input formControlName="version" matInput placeholder="{{'management-app-ui.version' |
            translate}}">
                  <mat-icon *ngIf="form.controls['version'].invalid" color="warn"
                            matSuffix
                            matTooltip="{{form.controls['version'].getError('message')}}"
                            matTooltipClass="error-tooltip" matTooltipPosition="above"
                  >{{'warning'}}
                  </mat-icon>
                </mat-form-field>
                <mat-form-field>
                  <input formControlName="appUrl" matInput placeholder="{{'management-app-ui.appUrl' |
            translate}}">
                  <mat-icon *ngIf="form.controls['appUrl'].invalid" color="warn"
                            matSuffix
                            matTooltip="{{form.controls['appUrl'].getError('message')}}"
                            matTooltipClass="error-tooltip" matTooltipPosition="above"
                  >{{'warning'}}
                  </mat-icon>
                </mat-form-field>
                <mat-form-field>
                  <input formControlName="appPath" matInput placeholder="{{'management-app-ui.appPath' |
            translate}}">
                  <mat-icon *ngIf="form.controls['appPath'].invalid" color="warn"
                            matSuffix
                            matTooltip="{{form.controls['appPath'].getError('message')}}"
                            matTooltipClass="error-tooltip" matTooltipPosition="above"
                  >{{'warning'}}
                  </mat-icon>
                </mat-form-field>
                <mat-form-field>
                  <input formControlName="icon" matInput placeholder="{{'management-app-ui.icon' |
            translate}}">
                  <mat-icon *ngIf="form.controls['icon'].invalid" color="warn"
                            matSuffix
                            matTooltip="{{form.controls['icon'].getError('message')}}"
                            matTooltipClass="error-tooltip" matTooltipPosition="above"
                  >{{'warning'}}
                  </mat-icon>
                </mat-form-field>
                <mat-form-field>
                  <input formControlName="iconSmall" matInput placeholder="{{'management-app-ui.iconSmall' |
            translate}}">
                  <mat-icon *ngIf="form.controls['iconSmall'].invalid" color="warn"
                            matSuffix
                            matTooltip="{{form.controls['iconSmall'].getError('message')}}"
                            matTooltipClass="error-tooltip" matTooltipPosition="above"
                  >{{'warning'}}
                  </mat-icon>
                </mat-form-field>
              </div>
              <div fxFlex fxLayout="column" fxLayoutGap="10px">
                <mat-form-field>
                  <input formControlName="proxyAppPath" matInput placeholder="{{'management-app-ui.proxyAppPath' |
            translate}}">
                  <mat-icon *ngIf="form.controls['proxyAppPath'].invalid" color="warn"
                            matSuffix
                            matTooltip="{{form.controls['proxyAppPath'].getError('message')}}"
                            matTooltipClass="error-tooltip" matTooltipPosition="above"
                  >{{'warning'}}
                  </mat-icon>
                </mat-form-field>
                <mat-form-field>
                  <input formControlName="proxyAppUrl" matInput placeholder="{{'management-app-ui.proxyAppUrl' |
            translate}}">
                  <mat-icon *ngIf="form.controls['proxyAppUrl'].invalid" color="warn"
                            matSuffix
                            matTooltip="{{form.controls['proxyAppUrl'].getError('message')}}"
                            matTooltipClass="error-tooltip" matTooltipPosition="above"
                  >{{'warning'}}
                  </mat-icon>
                </mat-form-field>
                <mat-form-field>
                  <input formControlName="width" matInput placeholder="{{'management-app-ui.width' |
            translate}}">
                  <mat-icon *ngIf="form.controls['width'].invalid" color="warn"
                            matSuffix
                            matTooltip="{{form.controls['width'].getError('message')}}"
                            matTooltipClass="error-tooltip" matTooltipPosition="above"
                  >{{'warning'}}
                  </mat-icon>
                </mat-form-field>
                <mat-form-field>
                  <input formControlName="minWidth" matInput placeholder="{{'management-app-ui.minWidth' |
            translate}}">
                  <mat-icon *ngIf="form.controls['minWidth'].invalid" color="warn"
                            matSuffix
                            matTooltip="{{form.controls['minWidth'].getError('message')}}"
                            matTooltipClass="error-tooltip" matTooltipPosition="above"
                  >{{'warning'}}
                  </mat-icon>
                </mat-form-field>
                <mat-form-field>
                  <input formControlName="height" matInput placeholder="{{'management-app-ui.height' |
            translate}}">
                  <mat-icon *ngIf="form.controls['height'].invalid" color="warn"
                            matSuffix
                            matTooltip="{{form.controls['height'].getError('message')}}"
                            matTooltipClass="error-tooltip" matTooltipPosition="above"
                  >{{'warning'}}
                  </mat-icon>
                </mat-form-field>
                <mat-form-field>
                  <input formControlName="minHeight" matInput placeholder="{{'management-app-ui.minHeight' |
            translate}}">
                  <mat-icon *ngIf="form.controls['minHeight'].invalid" color="warn"
                            matSuffix
                            matTooltip="{{form.controls['minHeight'].getError('message')}}"
                            matTooltipClass="error-tooltip" matTooltipPosition="above"
                  >{{'warning'}}
                  </mat-icon>
                </mat-form-field>
                <mat-form-field>
                  <input formControlName="addedOn" matInput placeholder="{{'management-app-ui.addedOn' |
            translate}}">
                </mat-form-field>
                <mat-form-field>
                  <input formControlName="lastDeployedOn" matInput placeholder="{{'management-app-ui.lastDeployedOn' |
            translate}}">
                </mat-form-field>
              </div>
            </div>
          </div>
        </form>
      </mat-card-content>

    </mat-tab>
    <mat-tab [disabled]="!this.isDisabled"
             label="{{'management-app-ui.restrictAccess' | translate}}">
      <ng-template matTabContent>
        <app-permissions></app-permissions>
      </ng-template>
    </mat-tab>

  </mat-tab-group>

  <mat-card-actions>
    <button (click)="isNavBarVisible(true)" mat-button
            routerLink="/applications">{{'management-app-ui.back' |
      translate}}</button>
    <button (click)="submit()" [disabled]="!form.valid || !form.dirty"
            color="primary"
            mat-button>{{'management-app-ui.save' | translate}}</button>
  </mat-card-actions>
</mat-card>


