<div class="widget-boundary">
<app-header></app-header>

  <app-widget
          [isActive]="true"
          [isDraggable]="true"
          [isMinimizable]="true"
          [isMaximizable]="true"
          [isClosable]="true"
          [isResizable]="true"
          title="my widget title"
          xPosition="100px"
          yPosition="50px"
          [zIndex]="2"
          iconImageSrc="assets/img/favicon.ico"
          appUrl="https://www.eurodyn.com/"
          (onClose)="isActive = false">
  </app-widget>


  <app-widget
          [isActive]="true"
          [isDraggable]="true"
          [isMinimizable]="true"
          [isMaximizable]="true"
          [isClosable]="true"
          [isResizable]="true"
          title="my widget title"
          xPosition="100px"
          yPosition="50px"
          [zIndex]="2"
          iconImageSrc="assets/img/favicon.ico"
          appUrl="https://angular.io/"
          (onClose)="isActive = false">
  </app-widget>


</div>