<mat-card>
  <mat-card-content>
    <div fxLayout="column">
      <div [formGroup]="filterForm" fxFlex="row" fxLayoutGap="10px">
        <mat-form-field>
          <input formControlName="username" matInput placeholder="{{'management-app-ui.userName' | translate}}">
        </mat-form-field>
        <button (click)="clearFilter()" mat-button>CLEAR</button>
      </div>

      <p aria-hidden="true" hidden id="tableDscUser">{{'management-app-ui.users' | translate}}</p>
      <table #table [dataSource]="users" aria-describedby="tableDscUser" class="mat-elevation-z0" fxFlex="grow"
             mat-table
             matSort
             matSortActive="username"
             matSortDirection="asc"
             matSortDisableClear matSortStart="asc">

        <ng-container matColumnDef="profilepic">
          <th *matHeaderCellDef mat-header-cell scope="col">{{'management-app-ui.profilePicture' | translate}}</th>
          <td *matCellDef="let element" mat-cell>
            <img
              *ngIf="element.findImage() != null"
              alt="{{'management-app-ui.icon' | translate}}"
              class="profilePicImg"
              src="data:image/png;base64,{{element.findImage()}}"/>
          </td>
        </ng-container>
        <ng-container matColumnDef="username">
          <th *matHeaderCellDef mat-header-cell mat-sort-header
              scope="col">{{'management-app-ui.userName' | translate}}</th>
          <td *matCellDef="let element" mat-cell>{{element.username}}</td>
        </ng-container>
        <ng-container matColumnDef="firstname">
          <th *matHeaderCellDef mat-header-cell scope="col">{{'management-app-ui.firstName' | translate}}</th>
          <td *matCellDef="let element" mat-cell>{{element.findAttribute('firstName')}}</td>
        </ng-container>
        <ng-container matColumnDef="lastname">
          <th *matHeaderCellDef mat-header-cell
              scope="col">{{'management-app-ui.lastName' | translate}}</th>
          <td *matCellDef="let element" mat-cell>{{element.findAttribute('lastName')}}</td>
        </ng-container>
        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; let element; columns: displayedColumns;" [routerLink]="element.id"
            mat-row></tr>
      </table>
      <mat-paginator #paginator (page)="changePage()"
                     [pageSizeOptions]="[10, 30, 50]"
                     [pageSize]="10"
                     [showFirstLastButtons]="true">
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
