<!-- img icon stays at init application position-->
<div (mousedown)="applicationClicked()" (mouseup)="release()"  (dblclick)="applicationMinimized()"
     *ngIf="!!iconImageSrc
&&  isActive"
     [class.applicationOnAppBarMinimized]="isMinimized"[class.activeApplicationOnAppBar]="isActiveApplication()"
         [class.applicationOnAppBar]="!isMinimized">
  <img [src]="safeIconImageSrc" alt="application icon" default='assets/img/icon.png'>
</div>

<div (cdkDragEnded)="dragEnd($event)" (cdkDragMoved)="dragMoved($event)" (cdkDragReleased)="dragReleased($event)"
     (cdkDragStarted)="dragStart($event)" *ngIf="isActive" [cdkDragDisabled]="isSmallScreen || !isDraggable"
     [cdkDragFreeDragPosition]="applicationPosition"
     [class.OnApplicationClick]="Clicked"
     [class.applicationMinimized]="isMinimized && !isSmallScreen" [style.left]="xPosition" [style.top]="yPosition"
     [style.z-index]="zIndex" cdkDrag
     cdkDragBoundary=".application-boundary" class="application">

  <div (click)="showApplication()" *ngIf="isMinimized && !isSmallScreen" class="applicationAsIcon">
    <div *ngIf="!(!!iconImageSrc)">{{ applicationName + '.title' | translate  }}</div>
  </div>

  <div *ngIf="!isMinimized || isSmallScreen">
    <div  (mousedown)="applicationClicked()"(mouseup)="release()" (mouseleave)="release()" cdkDragHandle
         [class.header]="!isActiveApplication() "
         [class.activeHeader]="isActiveApplication()">
      <img *ngIf="!!iconSmallSrc" [src]="safeSmallIconImageSrc" alt="application small icon" class="image"
           default='assets/img/icon_small.png'>

      <div *ngIf="showTitle" class="title"
           style.left="{{!(!!iconImageSrc) && '5px'}}">{{ applicationName
      + '.title' | translate  }}</div>

      <div class="iconsContainer">
        <em (click)="applicationMinimized()" *ngIf="isMinimizable" class="material-icons headerIcon"
            matTooltip="{{'webdesktop-ui.minimize' | translate}}">
          remove
        </em>
        <em (click)="applicationMaximized($event)" *ngIf="isMaximizable && !isMaximized"
            class="material-icons headerIcon" matTooltip="{{'webdesktop-ui.fullscreen' | translate}}">
          fullscreen
        </em>
        <em (click)="applicationMaximized($event)" *ngIf="isMaximizable && isMaximized"
            class="material-icons headerIcon" matTooltip="{{'webdesktop-ui.exitFullscreen' | translate}}">
          fullscreen_exit
        </em>

        <em (click)="close()" *ngIf="isClosable" class="material-icons headerIcon"
            matTooltip="{{'webdesktop-ui.close' | translate}}">
          cancel
        </em>
      </div>
    </div>
  </div>
  <div (resizeEnd)="onResizeEnd($event)"
       (resizeStart)="onResizeStart($event)"
       (resizing)="onResize($event)" (mouseup)="release()"
       [class.displayContent]="isMinimized" [class.fullScreenSize]="isMaximized && !isSmallScreen" [enableGhostResize]="false" [style.height.px]="height"
       [style.min-height.px]="minHeight"
       [style.min-width.px]="minWidth"
       [style.width.px]="width" class="content" mwlResizable>
    <div
        [resizeEdges]="{ bottom: isResizable }"
        class="resize-handle-bottom"
        mwlResizeHandle
    ></div>
    <div
        [resizeEdges]="{ right: isResizable }"
        class="resize-handle-right"
        mwlResizeHandle
    ></div>
    <div [style.min-height.px]="minHeight" [style.min-width.px]="minWidth" class="iframe-container">
      <iframe [src]="safeAppUrl" [style.display]="displayIframe ? 'block' : 'none'" title="application"></iframe>
    </div>
  </div>


</div>
