<mat-toolbar class="navigation-bar border-line">
    <app-start-menu (onAppClick)="setApp($event)"></app-start-menu>
    <div *ngFor="let widget of widgets | async">
    <div *ngIf="activeApps.includes(widget.titleKey) ">
        <app-widget

                [isActive]="true"
                [isDraggable]=widget.draggable
                [isMinimizable]=widget.minimizable
                [isMaximizable]=widget.maximizable
                [isClosable]=widget.closable
                [isResizable]=widget.resizable
                [width]=widget.width
                [height]=widget.height
                [minWidth]=widget.minWidth
                [minHeight]=widget.minHeight
                title={{widget.titleKey}}
                (onClose)="removeApp(widget.titleKey)"
                iconImageSrc={{widget.icon}}
                appUrl={{widget.appIndex}}>
        </app-widget>

    </div>
    </div>
    <div class="right-side-area">
        <button mat-button [routerLink]="'/login'">
            <mat-icon>account_circle</mat-icon>
        </button>
        <button mat-button>Logout</button>
    </div>
</mat-toolbar>

