<mat-card>
  <mat-card-content>
    <div fxLayout="column">
      <div [formGroup]="filterForm" fxFlex="row" fxLayoutGap="10px">
        <mat-form-field>
          <input formControlName="name" matInput placeholder="{{'management-app-ui.title' | translate}}">
        </mat-form-field>
        <button (click)="clearFilter()" mat-button>CLEAR</button>
      </div>

      <p aria-hidden="true" hidden id="tableDscUsergroup">{{'management-app-ui.groups' | translate}}</p>
      <table #table [dataSource]="dataSource" aria-describedby="tableDscUsergroup" class="mat-elevation-z0"
             fxFlex="grow"
             mat-table
             matSort
             matSortActive="name"
             matSortDirection="asc"
             matSortDisableClear matSortStart="asc">

        <ng-container matColumnDef="name">
          <th *matHeaderCellDef mat-header-cell mat-sort-header
              scope="col"> {{'management-app-ui.title' | translate}} </th>
          <td *matCellDef="let element" mat-cell>{{element.name}}
          </td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th *matHeaderCellDef mat-header-cell mat-sort-header
              scope="col"> {{'management-app-ui.description' | translate}}</th>
          <td *matCellDef="let element" mat-cell>{{element.description}}</td>
        </ng-container>
        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; let element; columns: displayedColumns;" [routerLink]="element.id"
            mat-row></tr>
      </table>
      <mat-paginator #paginator (page)="changePage()"
                     [pageSizeOptions]="[10, 30, 50]"
                     [pageSize]="10"
                     [showFirstLastButtons]="true">
      </mat-paginator>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button routerLink="0">{{'management-app-ui.create' | translate}}</button>
  </mat-card-actions>
</mat-card>
