<mat-card>
  <mat-card-content>
    <div fxLayout="column">
      <table mat-table #table [dataSource]="dataSource" class="mat-elevation-z0" fxFlex="grow"
             matSort
             matSortActive="id"
             matSortDirection="asc"
             matSortStart="asc"
             matSortDisableClear>
         <caption disabled="true">the table for translation data</caption>
        <ng-container matColumnDef="groupId">
          <th mat-header-cell *matHeaderCellDef id="groupName"> {{'translations-management-ui.groupName' | translate}}</th>
          <td mat-cell *matCellDef="let element">{{element.groupName}}</td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header id="keyName">
            {{'translations-management-ui.keyName' | translate}}</th>
          <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>
        <div *ngFor="let language of languages">
          <ng-container matColumnDef="translations.{{language.locale}}">
            <th mat-header-cell *matHeaderCellDef id="languageName"> {{language.name}}</th>
            <td mat-cell *matCellDef="let element">{{element.translations[language.locale]}}</td>
          </ng-container>
        </div>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; let element; columns: displayedColumns;"
            [routerLink]="'edit/'+element.id" (click)="setData(element,languages)"></tr>
      </table>
      <mat-paginator #paginator (page)="changePage()"
                     [pageSize]="10"
                     [pageSizeOptions]="[10, 30, 50]"
                     [showFirstLastButtons]="true">
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
