<mat-card>
  <mat-card-content>
    <div fxLayout="column">

      <p aria-hidden="true" hidden
         id="tableDscTranslations">{{'translations-management-ui.translations' | translate}}</p>
      <table #table [dataSource]="dataSource" aria-describedby="tableDscTranslations" class="mat-elevation-z0" fxFlex="grow"
             mat-table
             matSort
             matSortActive="id"
             matSortDirection="asc"
             matSortDisableClear matSortStart="asc">
        <ng-container matColumnDef="groupId">
          <th *matHeaderCellDef id="groupName"
              mat-header-cell> {{'translations-management-ui.groupName' | translate}}</th>
          <td *matCellDef="let element" mat-cell>{{element.groupName}}</td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th *matHeaderCellDef id="keyName" mat-header-cell mat-sort-header>
            {{'translations-management-ui.keyName' | translate}}</th>
          <td *matCellDef="let element" mat-cell>{{element.name}}</td>
        </ng-container>
        <div *ngFor="let language of languages">
          <ng-container matColumnDef="translations.{{language.locale}}">
            <th *matHeaderCellDef id="languageName" mat-header-cell> {{language.name}}</th>
            <td *matCellDef="let element" mat-cell>{{element.translations[language.locale]}}</td>
          </ng-container>
        </div>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr (click)="setData(element,languages)" *matRowDef="let row; let element; columns: displayedColumns;"
            [routerLink]="'edit/'+element.id" mat-row></tr>
      </table>
      <mat-paginator #paginator (page)="changePage()"
                     [pageSizeOptions]="[10, 30, 50]"
                     [pageSize]="10"
                     [showFirstLastButtons]="true">
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
