.mat-card-padding {
  padding: 30px;
}

.profileImage {
  width: 150px !important;
  height: 150px !important;
  border-radius: 50%;
  display: block;
  margin: auto;

  object-fit: cover;
}

.full-width-input {
  width: 100%;
}

.button-pad {
  padding: 16px 0px 0px 0px;
}
