<mat-card>
  <mat-card-content>
    <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="flex-start" fxLayoutGap="15px">
      <div fxFlex="0 1 calc(100%)" fxFlex.lt-md="0 1 calc(100%)" fxFlex.lt-sm="100%">
        <img *ngIf="userDetailsDto.profileImage && !previewProfileImageURL"
             alt="profile Image"
             class="profileImage" src="data:image/png;base64,{{userDetailsDto.profileImage}}">
        <img *ngIf="previewProfileImageURL"
             [src]="previewProfileImageURL"
             alt="profile Image" class="profileImage">
        <img *ngIf="!userDetailsDto.profileImage && !previewProfileImageURL"
             alt="profile Image"
             class="profileImage" src="assets/img/empty.png">
        <form (ngSubmit)="save()" [formGroup]="myForm">
          <mat-form-field class="full-width-input">
            <mat-label>{{'firstName' | translate}}</mat-label>
            <input formControlName="firstName"
                   matInput>
          </mat-form-field>
          <br>
          <mat-form-field class="full-width-input">
            <mat-label>{{'lastName' | translate}}</mat-label>
            <input formControlName="lastName"
                   matInput>
          </mat-form-field>
          <br>
          <mat-form-field class="full-width-input">
            <mat-label *ngIf="isSystemLanguage()">{{'systemLanguageLabel' | translate}}</mat-label>
            <mat-label *ngIf="!isSystemLanguage()">{{'defaultLanguage' | translate}}</mat-label>
            <mat-select formControlName="defaultLanguage">

              <mat-option *ngFor="let language of languages" [value]="language.locale"
              >{{language.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field class="full-width-input">
            <ngx-mat-file-input #removableInput (change)="showProfileImagePreview($event)"
                                placeholder="{{'profilePicture' | translate}}"></ngx-mat-file-input>
            <button (click)="removableInput.clear($event); clearProfileImagePreview()" *ngIf="!removableInput.empty"
                    mat-icon-button
                    matSuffix>
              <mat-icon>clear</mat-icon>
            </button>
          </mat-form-field>
          <br>
          <div *ngIf="userDetailsDto.backgroundImage && !previewBackgroundImageURL"
               class="imagePreview">
            <img alt="preview background image"
                 height="150" src="data:image/png;base64,{{userDetailsDto.backgroundImage}}" width="150">
            <button (click)="deleteBackgroundImage()" mat-button>Delete image</button>
          </div>
          <div *ngIf="previewBackgroundImageURL" class="imagePreview">
            <img *ngIf="previewBackgroundImageURL"
                 [src]="previewBackgroundImageURL"
                 alt="preview background image" height="150" width="150">
          </div>
          <mat-form-field class="full-width-input">
            <ngx-mat-file-input #removableInput1 (change)="showBackgroundImagePreview($event)"
                                placeholder="{{'backgroundImage' | translate}}"></ngx-mat-file-input>
            <button (click)="removableInput1.clear($event);
            clearBackgroundImagePreview()" *ngIf="!removableInput1.empty" mat-icon-button matSuffix>
              <mat-icon>clear</mat-icon>
            </button>
          </mat-form-field>
        </form>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div class="button-pad">
      <button  mat-button (click)="save()">{{'save' | translate}}</button>
    </div>
  </mat-card-actions>
</mat-card>
